services:
  db:
    image: postgres:18
    container_name: postgres_container
    restart: always
    environment:
      - POSTGRES_PASSWORD=admin
    volumes:
      - ./docker/postgres:/var/lib/postgresql/18/docker
    ports:
      - '6543:5432'

  cache:
    image: redis:latest
    container_name: redis_container
    restart: always
    ports:
      - '6379:6379'  